<!DOCTYPE html>
<head>
  <title>
    Node 2 Project
  </title>
  <link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css" />
  <!-<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!---link href="https://use.fontawesome.com/release/v5.8.2/css/all.css" rel="stylesheet"/> -->
</head>
<body>
  <div class="todo-container">
    <h2>
      <img src="https://imgs.xkcd.com/comics/woodpecker.png" />
    </h2>
  </div>
  </body>