/* star means that whatever styles are entered into the brackets apply to all tags within sites formmatted file(bosy, header, unordered list, etc). In this case, todo.ejs */
*{
    margin: 0;
    padding: 0;
    box-sizing: borderbox;
    /*font-family: "Source Sans Pro";*/
    font-family:'Times New Roman', Times, serif;
 }
 body{
     background-color: lightblue;
 }

 .todo-container{
     color:black;
     position: absolute;
     top: 50%;
     left: 50%;
     padding: 20px;
     width: 600px;
     transform: translate(-50%, -50%);
     background: rgba(255,255,255, .1);
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .transcript{
    float:left;
    position:left;
   color: darkorchid;
 }